<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Record Social</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/record.png" alt="face logo" /></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Log Out</a></div>
    <div class="navlink"><a id="homeButton" href="/home">Home</a></div>
    <div class="navlink"><a id="createButton" href="/recorder">Create Record</a></div>
    <div class="navlink"><a id="recordsButton" href="/getRecords">My Records</a></div>
    <div class="navlink"><a id="playlistsButton" href="/playlists">Playlists</a></div>
    <div class="navlink"><a id="premiumButton" href="/premium">Premium</a></div>
    <div class="navlink"><a id="changePasswordButton" href="/changePassword">Change Password</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="recordMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/appBundle.js"></script>
</body>
<footer>
  <div id="ads">
    Ad placeholders
    <img src="/assets/img/placeholder.png" width="300" height="300" />
    <img src="/assets/img/placeholder.png" width="300" height="300" />
    <img src="/assets/img/placeholder.png" width="300" height="300" />
  </div>
</footer>

</html>